extends ./layout/index

block content
    main 
        section.nosotros.wrapper 
            .nosotros__img 
                img(src="img/nosotros.jpg", alt="torre eiffel francia")
            .nostros__content 
                h1.nostros__title  #{pagina}
                p.nosotros__p En nuestra agencia, estamos dedicados a hacer que tus sueños de viajar se hagan realidad. Nos apasiona ayudar a nuestros clientes a explorar el mundo, descubrir nuevas culturas y crear recuerdos inolvidables.
                p.nosotros__p Nos enorgullecemos de ofrecer una amplia variedad de destinos, desde playas de ensueño hasta aventuras en la naturaleza, pasando por viajes culturales y experiencias gastronómicas. Además, nuestro equipo de expertos en viajes está aquí para ayudarte a diseñar la experiencia perfecta, adaptada a tus gustos y presupuesto.
                p.nosotros__p En nuestra agencia, valoramos la calidad y la atención al detalle en todo lo que hacemos. Nos aseguramos de trabajar con los mejores proveedores de servicios de viajes y de ofrecerte los mejores precios y ofertas. Además, nos aseguramos de que tengas toda la información que necesitas para tu viaje, desde los requisitos de visado hasta las recomendaciones de seguridad y salud.
                p.sonotros__p Nos esforzamos por brindarte un servicio excepcional y una experiencia de viaje inolvidable. Nos encanta ayudarte a planificar tu viaje y estamos aquí para ti en cada paso del camino.
                p.sonotros__p ¡Únete a nosotros en una aventura de por vida y descubre el mundo con nuestra agencia de viajes!

        section.info
            .info__container.wrapper
                section.info__card
                    img.info__card-img(src="img/icono_seguridad.svg", alt="")
                    .info__card-content
                        h2.info__card-title Seguridad
                        p.info__card-description  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, ipsa ab unde ipsam optio rem fugit odit fuga minima. Ea.
                section.info__card
                    img.info__card-img(src="img/icono_destinos.svg", alt="")
                    .info__card-content
                        h2.info__card-title Destinos
                        p.info__card-description  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, ipsa ab unde ipsam optio rem fugit odit fuga minima. Ea.
                section.info__card
                    img.info__card-img(src="img/icono_precios.svg", alt="")
                    .info__card-content
                        h2.info__card-title Precios
                        p.info__card-description  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, ipsa ab unde ipsam optio rem fugit odit fuga minima. Ea.
                 

